fastapi
python-multipart
redis
pydantic
openai
azure-storage-blob
azure-cognitiveservices-speech
python-dotenv
fpdf2
supabase
reportlab
cachetools
matplotlib
numpy
faiss-cpu
requests
uvicorn
sqlalchemy
psycopg2-binary
langchain
langchain-openai
PyJWT
gunicorn